<h1><%= @user.username %></h1>
<h3>First name: <%= @user.first_name %></h3>
<h3>Last name: <%= @user.last_name %></h3>
<h3>Location: <%= @user.city.name_state %></h3>
<h3>Phone: <%= @user.formatted_phone_number %></h3>
