<!DOCTYPE html>
<html>
  <head>
    <title>Flarester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Flarester</h1>
    <nav>
      <ul style="list-style-type: none">
        <% if @user && @user.id %>
        <%# what you want to show if logged in goes here %>
          <li>USER PROFILE</li>
          <li>CREATE EVENT</li>
          <li><%= link_to "Logout", login_path, method: :delete %></li>
        <% else %>
        <%# what you want to show if NOT logged in goes here %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
